.*
*.iml
local.properties
build
01.HelloWorld/01.HelloWorld
01.HelloWorld_Android/src/main/java/pl/grupapracuj/hermes/ext
01.HelloWorld_iOS/HelloWorld.xcodeproj/project.xcworkspace/xcuserdata
01.HelloWorld_iOS/HelloWorld.xcodeproj/xcuserdata
